@import "styles/flex";

.profile-container {
  @extend .flex-row;
  max-width: 50%;
  justify-content: center;
}

.key-cell {
  width: 25%;
  vertical-align: top;
}

.value-cell {
  width: 75%;
  max-width: 500px;
}

.avatar-container {
  margin: 5px;
}

.avatar {
  width: 150px;
  height: 150px;
}
