@use "styles/mixins" as screen;
@import "styles/flex";

.profile-container {
  @extend .flex-column;
  max-width: 90%;
  justify-content: center;
  @include screen.tabletUp {
    flex-direction: row;
    max-width: 50%;
  }
}

.avatar-container {
  margin: 5px;
}

.avatar {
  width: 150px;
  height: 150px;
}
