@import "styles/flex";

* {
  font-family: sans-serif;
}

body {
  margin: 0px;
}

td {
  border-spacing: 5px;
}

.content {
  @extend .flex-column;
  align-items: center;
  margin: 3%;
  height: 100vh;
}
